/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

html {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #363636;
}

/* Header/menu */

a {
    text-decoration: none;
}

h1, input {
    font-family: 'Roboto Condensed', sans-serif;
}

p, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header_logo h1 {
    font-family: 'Poppins', sans-serif;
    color: #d6d5d5;
    font-size: 30pt;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    margin-right: 4px;
}

.header_logo i::before {
    color: #D4D4D4;
    font-size: 50pt;
}

.menu_button i {
    text-align: center;
    font-size: 40pt;
    border-radius: 10px;
}

.menu_button i::before {
    color: #D4D4D4;
    font-size: 35pt;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Main Page */

main {
    width: 100%;
    height: 90%;
    color: #fff;
}

.present h2 {
    margin: 10px auto;
    width: 75%;
    font-size: 1.4em;
    font-weight: normal;
    color: #e4e4e4;
}

.gallery {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.gallery .row {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
}

.gallery .row img {
    height: 25%;
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.images {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.images .row {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
}

.images .row img {
    height: 100%;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.weapons {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.weapons .card {
    width: 30%;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.weapons .card img {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.weapons .card h3 {
    text-align: center;
}

.hardware {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hardware .card {
    width: 25%;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.hardware .card img {
    width: 100%;
    height: 65%;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact .info {
    display: flex;
}

.contact .info div {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.contact .info h1 {
    font-size: 1.6em;
    width: 100%;
}

.contact form {
    width: 25%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {
    .header_logo {
        width: 60%;
    }
    .header_logo i::before {
        font-size: 50pt;
    }
    .header_logo h1 {
        font-size: 12.5pt;
        line-height: 4;
    }
    .header_menu {
        width: 35%;
        margin-left: 10px;
    }
    .present h2 {
        width: 100%;
        font-size: 15pt;
    }
    .menu_button i::before {
        font-size: 25pt;
    }
}

@media (max-width: 520px) {
    .header_logo {
        width: 75%;
    }
    .header_logo i::before {
        font-size: 75pt;
    }
    .header_logo h1 {
        font-size: 20pt;
        line-height: 3;
    }
    .header_menu {
        width: 25%;
        margin-left: 10px;
    }
    .present h2 {
        width: 100%;
        font-size: 15pt;
    }
    .hardware {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .hardware .card {
        width: 100%;
        height: 50%;
        margin-bottom: 5px;
    }
    .hardware .card img {
        width: 100%;
        height: 75%;
    }
    .hardware .card h1 {
        font-size: 15pt;
    }
}

@media (max-width: 430px) {
    .header_logo {
        width: 60%;
    }
    .header_logo i::before {
        font-size: 50pt;
    }
    .header_logo h1 {
        font-size: 12.5pt;
        line-height: 4;
    }
    .header_menu {
        width: 35%;
        margin-left: 10px;
    }
    .present h2 {
        width: 100%;
        font-size: 15pt;
    }
    .menu_button i::before {
        font-size: 25pt;
    }
    .hardware {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .hardware .card {
        width: 100%;
        height: 50%;
        margin-bottom: 5px;
    }
    .hardware .card img {
        width: 100%;
        height: 75%;
    }
    .hardware .card h1 {
        font-size: 15pt;
    }
    .images {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .images .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .images .row img {
        width: 50%;
    }
    .gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .gallery .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .gallery .row img {
        width: 50%;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact .info {
        display: flex;
    }
    .contact .info div {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .contact .info h1 {
        font-size: 1.6em;
        width: 100%;
    }
    .contact form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact form input[type="submit"] {
        height: 50px;
    }
}